/* crypto css */
#checkout-embed {
  position: relative;
  width: 300px;
  min-width: 300px;
  min-height: 200px;
  overflow: hidden;
  // margin-left: auto;margin-right: auto;
}
#checkout-embed > input,
#checkout-embed > select {
  display: none;
}

#checkout-frame {
  width: 100%;
  min-height: 180px;
  zoom: 1;
  display: block;
  border: none;
  overflow: hidden;
}
